<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Receitas Nordestinas</title>
</head>
<body>

    <header>
        <img src="./image/logo.png" alt="logo">
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/cadastro">Cadastro</a></li>
            <li><a href="/contatos">Contatos</a></li>

        </ul>
    </nav>



        <h1>Receitas</h1>
        
        <div class="cards">
            <% receita.forEach((receita) => { %>
            <div class="card blue">
                
                    <h2><%= receita.nome %></h2>
                    <img src="<%= receita.imagem %>" alt="" class="image">    
                    <a id="btn" href="/getById/<%= receita.id %>/put">Editar</a>
                    <a id="btn" href="/getById/<%= receita.id %>/delete">Apagar</a>
            </div>
            <% }); %>
            


            <!-- <div class="card blue">
                <h2>Receita de Cuscuz</h2>
                <p>exemplo</p>
                <img class="image" src="./image/cuscuz-de-milho-1614715966465_v2_450x450.jpg" alt="">
            </div> -->
            
        </div>
    </main>
   <% if (receitaEd != null) {%>
     <section id="'modal">
       
        <div class="modal-body">
                    
            <form class ='form-modal' action = '/update/<% receitaEd.id %>' method="POST">
                <div class="receita-editar">
                   
                    <label for="nome">Nome do prato:</label>
                    <input type="text" id="nome" name="nome" value ="<%= receitaEd.nome %>" required>
        
                    <label for="ingredientes">Ingredientes:</label>
                    <input type="text" id="ingredientes" name="ingredientes" value ="<%= receitaEd.ingredientes %>"required>
                    
                    <label for="preparo">Modo de preparo:</label>
                    <input type="text" id="preparo" name="preparo"value ="<%= receitaEd.preparo %>" required>
                                                            
                    <label for="imagem">Link da imagem:</label>
                    <input type="text" id="imagem" name="imagem"value ="<%= receitaEd.imagem %>" required>
                    
                    <button id="btnCadastrar" type="submit">CONFIRMAR</button>
                    
                </div>
            </form>
        </div> 
  
     </section>
   <% } %>

    <footer>

    </footer>

    <script src="/js/script.js"></script>
</body>
</html>